* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12121f;
    color: #eee;
}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    border-radius: 1rem;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #33A9AC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div:hover:not(.today) {
    border: .2rem solid #777;
}

.days div {
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-days,
.next-days {
    opacity: .5;
}

.today {
    background-color: #33A9AC;
    border-radius: .2rem;
}